@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Play:wght@400;700&family=Roboto&family=Sono:wght@200;300;500;600;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.loading-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  color: #000;
  font-size: 2em;
}
.back-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.question-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}
.options-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.option {
  margin: 5px 0;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.option input[type="radio"] {
  margin-right: 5px;
}

.key-container {
  font-weight: bold;
  text-align: center;
}

.mainDiv {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%;
  max-width: 800px;
}
.regenerate-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}
.initial-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.radio-input-group {
  display: flex;
  justify-content: space-between;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.test-textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}

#testFileUpload {
  margin-top: 10px;
}

.create-test-next-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.createTestOptionContainer {
  display: none;
}

.submit {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.questionPreviewContainer {
  display: none;
}
.takeTestContainer {
  display: none;
}
.testQuestionContainer {
  display: none;
}

.test-preview-id {
  color: #34ff06;
  text-align: center;
}

.display-none {
  display: none;
}

@media screen and (max-width: 600px) {
  .mainDiv {
    width: 90vw;
    padding: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Initially, the element is invisible */
  }
  100% {
    opacity: 1; /* Fully visible at the end */
  }
}

/* Apply the fade-in effect to a class */
.fade-in {
  animation: fadeIn 500ms ease-in; /* 2 seconds, easing for smooth effect */
}
